/* Work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;700;800&family=Work+Sans:ital,wght@0,400;0,800;0,900;1,600;1,700&display=swap");

/* shared styles */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
}
.text-light-gay {
  color: #727272;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner-styles  */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700px;
  color: #131313;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* main styles */
main {
  max-width: 1220px;
  margin: 70px auto;
}
/* teams styles */
.teams-containers {
  display: flex;
  align-items: center;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-right: 70px;
  padding-left: 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  font-weight: 500;
}
.teams-title .of-our {
  color: #131313;
  font-weight: 700;
}
.teams-title .text-features {
  color: #ff900e;
  font-weight: 700;
}

/* features section styles */
.features {
  display: flex;
  margin-top: 130px;
  gap: 100px;
}
.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 25px;
}
.feature-content .card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-img img {
  height: 90%;
  margin-left: 30px;
}
.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 300px;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 105px;
}
.ten-years-badge h3 {
  font-size: 4rem;
  margin: 0;
}
.ten-years-badge p {
  font-size: 1.5rem;
}

/* facts section styles */
.facts-card-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 30px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
}
.facts-card-container .card-stats {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* sponsors styles */
.sponsors {
  text-align: center;
}
.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.sponsors-img-container img {
  width: 165px;
}

footer {
  padding: 39px 300px;
  border-radius: 8px;
  background: #fff4e7;
  max-width: 1210px;
  margin: 70 auto;
  text-align: center;
}

/* responsive media queries */

/* mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-containers,
  .features,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .feature-img img {
    width: 90%;
    margin-left: 0;
  }
  .ten-years-badge{
    position: static;
    max-width: 200px;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
  footer{
    max-width: 200px;
    padding: 39px 200px;
  }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .features,
  .teams-containers,
  .sponsors-img-container {
    flex-direction: column;
  }
}
